# Ignore dependencies and build artifacts
node_modules/
android/.gradle/
android/.idea/
android/build/
ios/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.DS_Store
.env
*.log

# Capacitor and build output
web/dist/
build/
capacitor.config.ts

# Python virtual environments
venv/
.env/

.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
